{{#each attainables as |attainable| }}
<div class="card mx-auto" style="width: 18rem; background-color: #C48F22;">
        <div class="card-body">
          <h5 class="card-title">{{attainable.attainable_name}}</h5>
          <p class="card-text">{{attainable.note}}</p>
          <input type="hidden" id="{{attainable.attainable_name}}" value="{{lofty.id}}">
<<<<<<< Updated upstream
          <a href="attainable/{{attainable.id}}" class="task-card-link">Tasks to complete {{attainable.attainable_name}}</a>
=======
          <a href="attainable/{{attainable.id}}" class="task-card-link">Tasks to complete</a>
>>>>>>> Stashed changes
        </div>
      </div>
{{/each}}

<div>
<form class="form new-attainable-form">
  <div class="mb-3">
    <label for="attainable_name"class="form-label">Add Goal</label>
    <input id="attainable_name" type="text" class="form-control" placeholder="Write the title of your goal here!">
  </div>
  <div class="mb-3">
    <label for="note"class="form-label">Write some notes about your goal!</label>
    <textarea id="note" class="form-control" rows="3"></textarea>
  </div>
  <button id="attainable-button" class="btn" style="background-color: #e3f2fd;" type="submit" onclick="setTimeout(function(){window.location.reload();},10);">SAVE</button>
</form>
</div>

  <script src="/js/attainable.js"></script>